/*Topografia*/

:root {
    --color-base : rgb(255, 0, 0);
    --color-base-shadow : rgba(255, 0, 0, 0.445);
    --color-texto-gris: rgb(200, 200, 200);
    --color-yellow: rgb(255, 217, 0);
    
}
@font-face {
    font-family: "eina";
    src: url(fonts/eina/Eina01-Regular.ttf);
}
@font-face {
    font-family: "eina-bold";
    src: url(fonts/eina/Eina02-Bold.ttf);
}
* {
    padding: 0;
    margin: 0;
}
ion-icon {
    font-size: 1.5em;
}
body {
    font-family: "eina";
    font-size: 16px;
    font-weight: normal;
}

p {
    line-height: 2rem;
}
h2 {
    margin: 10px 0;
}
.container {
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
}

a {
    color: black;
    white-space: nowrap;
    text-decoration: none;
}

/* autor*/
.autors {
    font-size: 1rem;
    text-align: end;
    word-spacing: 12px;
    overflow: hidden;
    font-weight: 500;
    color: rgb(173, 173, 173);
}
/* header */
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
}

.menu-bars-collapse {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border: 1px solid var(--color-texto-gris);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

nav, #contact {
    display: none;
}

.logo {
    display: flex;
    align-items: center;
}

.logo ion-icon {
    color: var(--color-base);
    font-size: 2.8rem;
}
.logo #tittle-logo{
    font-family: "eina-bold";
    font-size: 1.5rem;
    margin-left: 8px;
}
/* content-header */

.content-box h3{
    color: var(--color-texto-gris);
}
/* titulos */
.content-box h2{
    font-size: 4rem;
    font-weight: 900;
    line-height: 4rem;
    text-align: justify;
}

.content-box h2 span{
    font-size: 4.5rem;
    font-weight: 500;
}
/* end content-header */

/*play video*/

.play-video
 {
     display: flex;
     justify-content: space-around;
     margin: 20px 0;
 }

.play-video a {
    display: flex;
    align-items: center;
    gap: 12px;
    font-family: "eina-bold";
    padding: 8px 20px;
    border-radius: 20% / 50%;
    -webkit-border-radius: 20% / 50%;
    -moz-border-radius: 20% / 50%;
    -ms-border-radius: 20% / 50%;
    -o-border-radius: 20% / 50%;
}
.play-video a:nth-child(1) {
    background-color: var(--color-base);
    color: white;
}

.play-video a:nth-child(1) ion-icon {
    color: black;
}
.play-video a:hover {
    animation: btn-hover ease-in-out 0.1s 0s 1 alternate forwards;
    -webkit-animation: btn-hover ease-in-out 0.1s 0s 1 alternate forwards;
}

.a-play-video .container-icons {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    background-color: rgba(255, 255, 0, 0.541);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.a-play-video:nth-child(2) .container-icons {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.541);
    box-shadow: 0 0 10px  1px transparent;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.a-play-video:nth-child(2):hover .container-icons {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.541);
    box-shadow: 0 0 10px  1px rgba(236, 236, 236);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
/*banner*/
.contend-img {
    overflow: hidden;
}
img{
    width: 100%;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

img:hover {
    animation: img-mover .5s 0s ease-in-out alternate 1 forwards;
    -webkit-animation: img-mover .5s 0s ease-in-out alternate 1 forwards;
}

.item-content-footer-left {
    position: relative;
    z-index: 0;
}

.item-content-footer-left div:nth-child(1){
    overflow: hidden;
    position: absolute;
    z-index: 1;
    bottom: 20px;
    right: 20px;

    background-color: white;
    padding: 10px;
}

.item-content-footer-left div:nth-child(2){
    overflow: hidden;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

/*!content-footer*/
/*position-absolute*/
.position-absolute {
    display: inline-flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}
.position-absolute span{
    color: var(--color-base);
}
/*item-content-footer-center*/
.item-content-footer-center {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin: 40px 0;
}
.tittle-summary {
    font-size: 2.5rem;
    font-family: "eina";
    font-weight: 500;
}
.item-content-footer-center p {
    font-size: 1rem;
    color: grey;
    font-weight: 500;
}
.item-content-footer-center h2 {
    grid-column: 1/3;
    display: inline-flex;
    align-items: center;
    gap: 20px;
}
.item-content-footer-center ion-icon {
    font-size: 1.5rem;
}
.item-content-footer-center h2:hover ion-icon {
    transform: translate(5px);
    -webkit-transform: translate(15px);
    -moz-transform: translate(5px);
    -ms-transform: translate(5px);
    -o-transform: translate(5px);
    color: var(--color-base);
}
/*END item-content-footer-center*/
.content-footer {
    margin: 40px 0;
}
.item-content-footer-right {
    color: white;
    position: relative;
}
.item-content-footer-right a{
    color: white;
    display: inline-flex;
    align-items: center;
    gap: 10px;
}
.item-content-footer-right > a {
    color: rgb(0, 0, 0);
    position: absolute;
    top: 150px;
    left: 45%;
    background-color: white;
    padding: 15px 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: 0 0 5px rgba(128, 128, 128, 0.239);
}
.item-content-footer-right > a:hover {
    transform: translateY(10px);
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -o-transform: translateY(10px);
}
.item-content-footer-right > div {
    background-color: rgb(17, 16, 16);
    padding: 10px 15px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    gap: 50px;
}
.item-content-footer-right > div div:nth-child(2) {
    max-width: 40%;
}
.item-content-footer-right > div div:nth-child(1) > * {
    margin: 10px 0;
    line-height: 1.4rem;
}
.item-content-footer-right > div div:nth-child(1) > ion-icon {
    color: rgb(214, 158, 4);
}
.item-content-footer-right > div div:nth-child(1) > a:hover {
    transform: translate(2px);
    -webkit-transform: translate(2px);
    -moz-transform: translate(2px);
    -ms-transform: translate(2px);
    -o-transform: translate(2px);
}
.item-content-footer-right > div div:nth-child(1) > a:hover ion-icon {
    color: rgb(214, 158, 4);
}
 /*animaciones*/

 @keyframes btn-hover {
    0% {
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
}
   100% {
       transform: scale(1.1);
       -webkit-transform: scale(1.1);
       -moz-transform: scale(1.1);
       -ms-transform: scale(1.1);
       -o-transform: scale(1.1);
}
}

@keyframes img-mover {
    0% {
        color: rgba(255, 255, 255, 0.849);
        transform: scale(0px);
        -webkit-transform: scale(0px);
        -moz-transform: scale(0px);
        -ms-transform: scale(0px);
        -o-transform: scale(0px);
    }
   100% {
       transform: scale(1.1);
       -webkit-transform: scale(1.1);
       -moz-transform: scale(1.1);
       -ms-transform: scale(1.1);
       -o-transform: scale(1.1);
    }
}

@keyframes acercar {
    0% {
        transform: scale(0px);
        -webkit-transform: scale(0px);
        -moz-transform: scale(0px);
        -ms-transform: scale(0px);
        -o-transform: scale(0px);
    }
   100% {
       background-color: wheat;
       transform: scale(1.1);
       -webkit-transform: scale(1.1);
       -moz-transform: scale(1.1);
       -ms-transform: scale(1.1);
       -o-transform: scale(1.1);
    }
}
/*end animaciones*/

@media screen and (min-width: 800px){
    header {
        padding: 20px 0;
        margin-bottom: 40px;
    }
    .menu-bars-collapse {
        display: none;
    }
    nav, #contact {
        display: inline-flex;
        gap: 24px;
        padding: 10px 2px;
        
}
    #contact {
        background-color: rgb(255, 217, 0);
        padding: 10px 14px;
        border-radius: 20% / 50%;
        -webkit-border-radius: 20% / 50%;
        -moz-border-radius: 20% / 50%;
        -ms-border-radius: 20% / 50%;
        -o-border-radius: 20% / 50%;
    }
    nav a{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        padding: 10px 2px;
        transition: 1s 0s ease-in-out;
        -webkit-transition: .2s 0s ease-in-out;
        -moz-transition: 1s 0s ease-in-out;
        -ms-transition: 1s 0s ease-in-out;
        -o-transition: 1s 0s ease-in-out;
    }
    nav a ion-icon {
        font-size: 1.2rem;
        margin-left: 5px;
        color: var(--color-base);
    }

    .logo:hover, nav a:hover, #contact:hover {
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
    }
    header nav a:hover, #contact:hover {
        color: var(--color-base);
    }
    .content-header {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 50px;
    }
    .content-footer {
        display: grid;
        grid-template-columns: 2fr 1fr 2fr;
        gap: 50px;
    }
    .content-footer .item-content-footer-center{
        margin: 0;
    }
    .content-box h2 {
        text-align: left;
    }

    img {
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
    }
    .play-video {
        justify-content: flex-start;
        gap: 40px;
    }

    .content-header .content-box {
        margin-bottom: 100px;
    }
    .content-header .content-box > .play-video{
        margin: 40px 0;
    }
    .content-header .content-box > h2{
        margin-top: -10px;
        margin-bottom: 20px;
    }
    .item-content-footer-right > div div:nth-child(1) > ion-icon {
        color: white;
    }

    .contend-footer-center-sub {
        padding: 10px;
    }
    .contend-footer-center-sub:hover {
        animation: acercar .2s 0s ease-in-out alternate 1 forwards;
        -webkit-animation: acercar .2s 0s ease-in-out alternate 1 forwards;
    }

    .item-content-footer-left div:nth-child(1) {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 100px;
        height: 40px;
        top:-5%;
        left: 35%;
        box-shadow: 0 0 15px rgba(209, 209, 209, 0.13);
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
    }

    .item-content-footer-center p {
        line-height: 1rem;
    }
}
